<h2>
  htmltopdf
  &nbsp;
  <%= link_to('pdfinfo', 'pdfinfo') %>
  &nbsp;
  <%= link_to('pdftotext', 'pdftotext') %>
  &nbsp;
  <%= link_to('pdfextract', 'pdfextract') %>
  &nbsp;
  <%= link_to('pdfunite', 'pdfunite') %>
</h2>

<%= form_tag('/htmltopdf') do %>
  <%= text_area_tag :content, @html, class: 'content' %>

  <div class="row">
    <div class="span4">

      <label>Paper size</label>
      <%= select_tag 'options[page_size]', options_for_select(['Letter', 'A4', 'A3', 'DLE']) %>

      <label>Number of copies</label>
      <%= number_field_tag 'options[copies]', 1 %>

      <label>Url of footer HTML document</label>
      <%= text_field_tag 'options[footer_html]', "http://s3.amazonaws.com/hypdf_stuff/test_footer.html" %>

    </div>

    <div class="span4">

      <label class="checkbox">
        <%= check_box_tag 'options[orientation]', 'Landscape' %> Landscape orientation
      </label>

      <label class="checkbox">
        <%= check_box_tag 'options[grayscale]', true %> Grayscale
      </label>

      <label class="checkbox">
        <%= check_box_tag 'options[lowquality]', true %> Low quality
      </label>

      <label class="checkbox">
        <%= check_box_tag 'options[disable_javascript]', true %> Disable javascript
      </label>

      <label class="checkbox">
        <%= check_box_tag 'options[disable_links]', true %> Disable links
      </label>

    </div>
  </div>

  <div class="submit-buttons">
    <%= submit_tag 'Download PDF', class: 'btn btn-primary' %> or
    <%= submit_tag 'Upload it to S3', class: 'btn' %>
  </div>

<% end %>
